flux_path: "black-forest-labs/FLUX.1-dev"
image_encoder_path: "openai/clip-vit-large-patch14"
dtype: "bf16"
resume_from_checkpoint: true
resume_path: "runs/ipflux-4gpu-resume/ip_adapter-056000"
cache_latents: false
gradient_checkpointing: true
expname: "ipflux-4gpu-resume"

dataset:
  type: "subject"
  condition_size:
    - 512
    - 512
  target_size:
    - 512
    - 512
  image_size: 512
  padding: 8
  drop_text_prob: 0.1
  drop_image_prob: 0.1
  train_dataloader_num_workers: 4
  test_dataloader_num_workers: 1


train:
  num_train_epochs: 4
  batch_size: 4
  gradient_accumulation_steps: 1
  guidance_scale: 3.5
  optimizer: 
    type: 'adamw'
    lr: 1e-4
    beta1: 0.9
    beta2: 0.999
    adam_weight_decay: 1e-2
    adam_epsilon: 1e-8
    max_grad_norm: 1.0
  scheduler:
    type: 'constant'
    warmup_steps: 500
    num_cycles: 1
    power: 1.0
  noise_scheduler:
    weighting_scheme: 'none'
    logit_mean: 0.0 # for 'logit_normal' weighting scheme
    logit_std: 1.0 # for 'logit_normal' weighting scheme
    mode_scale: 1.29 # for 'mode' weighting scheme
  text_encoder:
    max_sequence_length: 512
test:
  seed: 42
  batch_size: 1
  dataloader_num_workers: 1

logging:
  output_dir: "runs"
  logging_dir: "logs"
  logger: "wandb"
  checkpointing_steps: 1000
  checkpoints_total_limit: 10
  test_steps: 200
  validation_epochs: 1