flux_path: "black-forest-labs/FLUX.1-dev"
image_encoder_path: "openai/clip-vit-large-patch14"
dtype: "bf16"
resume_from_checkpoint: false
cache_latents: false
gradient_checkpointing: true
expname: "ipflux-laion2b-4l40s-nonzeroinit"

dataset:
  type: "laion2b"
  condition_size:
    - 512
    - 512
  target_size:
    - 512
    - 512
  image_size: 512
  padding: 8
  drop_text_prob: 0.1
  drop_image_prob: 0.1
  drop_last: false
  # for laion2B
  resampled: false
  shuffle_buffer: 200
  shards_path: ./dataset/laion2B/laion_wds_512
  train_shard_pattern: "{00001..00099}.tar"
  test_shard_pattern: "{00000..00001}.tar"
  train_dataloader_num_workers: 4
  test_dataloader_num_workers: 1

train:
  num_train_epochs: 4
  max_train_steps: 1000000  # Required for WebDataset (no len())
  batch_size: 4
  gradient_accumulation_steps: 1
  guidance_scale: 3.5
  optimizer: 
    type: 'adamw'
    lr: 1e-4
    beta1: 0.9
    beta2: 0.999
    adam_weight_decay: 1e-2
    adam_epsilon: 1e-8
    max_grad_norm: 1.0
  scheduler:
    type: 'constant'
    warmup_steps: 500
    num_cycles: 1
    power: 1.0
  noise_scheduler:
    weighting_scheme: 'none'
    logit_mean: 0.0 # for 'logit_normal' weighting scheme
    logit_std: 1.0 # for 'logit_normal' weighting scheme
    mode_scale: 1.29 # for 'mode' weighting scheme
  text_encoder:
    max_sequence_length: 512

test:
  seed: 42
  batch_size: 1
  dataloader_num_workers: 1

validations:
  images:
  - "./dataset/test/sculpture.jpg"
  - "./dataset/test/girlwpearl.jpg" 
  prompts:
  - "wearing sunglasses"
  - "wearing red scarf"

logging:
  output_dir: "runs"
  logging_dir: "logs"
  logger: "wandb"
  checkpointing_steps: 1000
  checkpoints_total_limit: 10
  test_steps: 200
  validation_steps: 500